.input {
    width: 360px;
    padding: 8px 16px;
    margin-bottom: 16px;
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        border: 1px solid #808080;
            border-radius: 4px;
}
.text {
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.div-wrap {
    border-radius: 8px;
        padding: 24px;
        width: 408px;
        height: 136px;
        background-color: #fff;
}
.input {
    outline: none;
    transition: 0.3s;
}
.input:focus-within {
    border-color:#4e75ff;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}