 .login-form {
     
    border-radius: 8px;
        padding: 24px;
        width: 408px;
        background-color:#fff;
 }

 label {
     gap: 8px;
     display: flex;
     flex-direction: column;
 }

 .input-email,
 .input-password {
     border: 1px solid #808080;
     border-radius: 4px;
     max-width: 360px;
     padding: 8px 16px;
     margin-bottom: 8px;
     transition: border 250ms ease-in-out;

     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #2e2f42;
     transition: 0.3s;
 }

 .input-email:hover,
 .input-password:hover {
     border: 1px solid #000;
 }

 .input-email:focus,
 .input-password:focus {
     outline: none;
     box-shadow: none;
 }

 .submit-button {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
border: none;
margin-top: 8px;
border-radius: 8px;
padding: 8px 16px;
background-color: #4e75ff;
font-weight: 500;
color: #fff;
transition: background-color 250ms ease-in-out;
 }

.submit-button:hover,
.submit-button:focus {
    background-color: #6c8cff;
 }


 .input-email:focus-within,
 .input-password:focus-within {
     border-color: #4e75ff;
     box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
 }