.item {
    max-width: 392px;
    border-radius: 8px;
        padding: 16px;
        background-color:#f6f6fe;
        margin-bottom: 24px;
}



.sub-item {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    margin-bottom: 8px;
    max-width: 360px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
}

.back-button-link {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4e75ff;
    font-weight: 500;
    color: #fff;
    transition: background-color 250ms ease-out;

}

.text-button {
    margin-bottom: 24px;
}

.back-button-link:hover,
.back-button-link:focus {
    background-color: #6c8cff;
}